http_interactions:
- request:
    method: get
    uri: http://www.esensing.dpi.inpe.br/wtss/describe_coverage?name=MOD13Q1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"MOD13Q1","description":"Vegetation Indices 16-Day L3 Global
        250m","detail":"https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod13q1_v006","dimensions":{"x":{"name":"col_id","min_idx":1,"max_idx":24000},"y":{"name":"row_id","min_idx":1,"max_idx":24000},"t":{"name":"time_id","min_idx":1,"max_idx":423}},"spatial_extent":{"xmin":-81.2341289433377,"xmax":-29.9999999973059,"ymin":-39.9999999964109,"ymax":9.99999999910497},"spatial_resolution":{"x":0.0020869942185942188,"y":0.0020869942185923419},"crs":{"proj4":"+proj=longlat
        +datum=WGS84 +no_defs ","wkt":"GEOGCS[\"WGS 84\",DATUM[\"WGS_1984\",SPHEROID[\"WGS
        84\",6378137,298.257223563,AUTHORITY[\"EPSG\",\"7030\"]],AUTHORITY[\"EPSG\",\"6326\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4326\"]]"},"timeline":["2000-02-18","2000-03-05","2000-03-21","2000-04-06","2000-04-22","2000-05-08","2000-05-24","2000-06-09","2000-06-25","2000-07-11","2000-07-27","2000-08-12","2000-08-28","2000-09-13","2000-09-29","2000-10-15","2000-10-31","2000-11-16","2000-12-02","2000-12-18","2001-01-01","2001-01-17","2001-02-02","2001-02-18","2001-03-06","2001-03-22","2001-04-07","2001-04-23","2001-05-09","2001-05-25","2001-06-10","2001-06-26","2001-07-12","2001-07-28","2001-08-13","2001-08-29","2001-09-14","2001-09-30","2001[...]
- request:
    method: get
    uri: http://www.esensing.dpi.inpe.br/wtss/time_series?coverage=MOD13Q1&attributes=mir,blue,nir,red,evi,ndvi&longitude=-45&latitude=-12&start_date=2000-02-18&end_date=2019-09-30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result":{"attributes":[{"attribute":"mir","values":[1238.0,1243.0,694.0,1330.0,5.0,1076.0,935.0,1138.0,1203.0,1376.0,1365.0,1660.0,1401.0,1739.0,1799.0,1568.0,2602.0,988.0,753.0,822.0,792.0,634.0,774.0,1294.0,883.0,766.0,751.0,843.0,980.0,1059.0,1119.0,1544.0,1509.0,1679.0,1993.0,1909.0,2101.0,2290.0,1636.0,1415.0,1580.0,1176.0,811.0,642.0,721.0,774.0,726.0,721.0,911.0,963.0,959.0,1214.0,1146.0,1081.0,994.0,1306.0,1175.0,1636.0,2043.0,1940.0,1817.0,1550.0,1353.0,1122.0,1263.0,1407.0,1101.0,1065.0,707.0,919.0,750.0,494.0,652.0,822.0,762.0,925.0,1[...]
