http_interactions:
- request:
    method: get
    uri: http://www.esensing.dpi.inpe.br/wtss/describe_coverage?name=MOD13Q1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"MOD13Q1","description":"Vegetation Indices 16-Day L3 Global
        250m","detail":"https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod13q1_v006","dimensions":{"x":{"name":"col_id","min_idx":1,"max_idx":24000},"y":{"name":"row_id","min_idx":1,"max_idx":24000},"t":{"name":"time_id","min_idx":1,"max_idx":423}},"spatial_extent":{"xmin":-81.2341289433377,"xmax":-29.9999999973059,"ymin":-39.9999999964109,"ymax":9.99999999910497},"spatial_resolution":{"x":0.0020869942185942188,"y":0.0020869942185923419},"crs":{"proj4":"+proj=longlat
        +datum=WGS84 +no_defs ","wkt":"GEOGCS[\"WGS 84\",DATUM[\"WGS_1984\",SPHEROID[\"WGS
        84\",6378137,298.257223563,AUTHORITY[\"EPSG\",\"7030\"]],AUTHORITY[\"EPSG\",\"6326\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4326\"]]"},"timeline":["2000-02-18","2000-03-05","2000-03-21","2000-04-06","2000-04-22","2000-05-08","2000-05-24","2000-06-09","2000-06-25","2000-07-11","2000-07-27","2000-08-12","2000-08-28","2000-09-13","2000-09-29","2000-10-15","2000-10-31","2000-11-16","2000-12-02","2000-12-18","2001-01-01","2001-01-17","2001-02-02","2001-02-18","2001-03-06","2001-03-22","2001-04-07","2001-04-23","2001-05-09","2001-05-25","2001-06-10","2001-06-26","2001-07-12","2001-07-28","2001-08-13","2001-08-29","2001-09-14","2001-09-30","2001[...]
- request:
    method: get
    uri: http://www.esensing.dpi.inpe.br/wtss/time_series?coverage=MOD13Q1&attributes=ndvi,evi&longitude=-45&latitude=-12&start_date=2000-02-18&end_date=2016-12-18
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"result":{"attributes":[{"attribute":"ndvi","values":[3743.0,8203.0,8022.0,8090.0,7489.0,7273.0,6985.0,6543.0,6081.0,5833.0,5618.0,5048.0,5157.0,5618.0,5589.0,5193.0,1141.0,8076.0,7851.0,8064.0,7880.0,7904.0,8284.0,6521.0,7711.0,7907.0,7810.0,7566.0,7047.0,6328.0,5894.0,5315.0,5260.0,5038.0,4550.0,4465.0,4392.0,4577.0,5749.0,7814.0,8166.0,7905.0,7398.0,7802.0,7710.0,8170.0,8004.0,7928.0,7433.0,7041.0,6949.0,5966.0,6204.0,6764.0,7012.0,6390.0,5743.0,5156.0,5338.0,4695.0,5439.0,4904.0,7132.0,7387.0,6747.0,7353.0,7677.0,7782.0,8321.0,8129.0,8307.0,87[...]
